body {
  margin: 0;
  background: black;
  color: #ffffff;
	font: Verdana, Arial, Helvetica;
}

.center {
  border: 5px solid #fff;
  padding: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  background: #000000;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}

.intro h1 {
  font-size: 36px;
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  text-align: center;
  grid-column: 2;
  justify-self: center;
}

.intro img {
  width: 80px;
  grid-column: 1 / 2;
  justify-self: end;
}

.social img {
  width: 18px;
}

.social a {
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin-right: 15px;
  text-decoration: none;
}

.social a:hover {
  text-decoration:underline;
  background-color: rgb(4, 164, 238);
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

@media (max-width: 600px) {
  canvas, #tip {
    display: none;
  }
  
}