/* Tooltip text */
.name .tooltiptext {
  visibility: hidden;
  font-size: 22px;
  width: 100px;
  background-color: black;
  color: rgb(208, 208, 208);
  text-align: center;
  padding: 5px 0;
  border-radius: 20px;
 
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 70%;
  left: 80%;
  margin-left: -60px; 
}

/* Show the tooltip text when you hover over name */
.name:hover .tooltiptext {
  visibility: visible;
}

/* Name flip animation*/
.flippy {
  position: relative;
}
.flippy span {
  position: relative;
  display: inline-block;
  letter-spacing: -0.16em;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i));
}
@keyframes flip {
  0%, 80% {
    transform: rotateY(360deg); 
  }
  0%   {color: #fff;}
  25%  {color: #00FF41;}
  50%  {color: #008F11;}
  100% {color: #003B00;}
}